/* screen - 0-2-login-1-cedula-codigo */

.x0-2-login-1-cedula-codigo {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x0-2-login-1-cedula-codigo .ellipse-container {
  align-self: flex-start;
  height: 433px;
  margin-left: -206.66px;
  margin-top: -165px;
  position: relative;
  width: 671px;
}

.x0-2-login-1-cedula-codigo .ellipse-182 {
  background-color: var(--fuel-yellow);
  border-radius: 149.75px;
  height: 299px;
  left: 100px;
  position: absolute;
  top: 130px;
  transform: rotate(1.22deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-183 {
  background-color: var(--blue-ribbon-2);
  border-radius: 149.75px;
  height: 299px;
  left: 249px;
  position: absolute;
  top: 3px;
  transform: rotate(1.22deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-184 {
  background-color: var(--casal);
  border-radius: 149.75px;
  height: 299px;
  left: 3px;
  position: absolute;
  top: 48px;
  transform: rotate(1.22deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-185 {
  background-color: var(--cardinal-pink);
  border-radius: 149.75px;
  height: 299px;
  left: 368px;
  position: absolute;
  top: 104px;
  transform: rotate(1.22deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .title {
  color: var(--black);
  font-family: var(--font-family-calibri-bold);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 5px;
  min-height: 33px;
  text-align: center;
  width: 144px;
}

.x0-2-login-1-cedula-codigo .ingrese-su-usuario-y-cdigo {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 11.0px;
  margin-top: 25px;
  min-height: 27px;
  text-align: center;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .text-field-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 9px;
  min-width: 175px;
}

.x0-2-login-1-cedula-codigo .field {
  align-items: flex-start;
  border-radius: 9.72px;
  display: flex;
  height: 39px;
  overflow: hidden;
  padding: 10.6px 13.0px;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .placeholder {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-calibri-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.x0-2-login-1-cedula-codigo .ingrese-su-usuario-y-cdigo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 11.0px;
  margin-top: 15px;
  min-height: 27px;
  text-align: center;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .form {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  margin-left: 0.91px;
  margin-top: 16px;
  min-width: 175px;
}

.x0-2-login-1-cedula-codigo .field-1 {
  align-items: flex-start;
  padding: 10.6px 13.0px;
}

.x0-2-login-1-cedula-codigo .text {
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  width: 13px;
}

.x0-2-login-1-cedula-codigo .field-2 {
  align-items: flex-end;
  padding: 13.0px 13.0px;
}

.x0-2-login-1-cedula-codigo .cursor {
  height: 13px;
  width: 1px;
}

.x0-2-login-1-cedula-codigo .text-field {
  border-radius: 9.72px;
  height: 39px;
  width: 39px;
}

.x0-2-login-1-cedula-codigo .frame-78 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 19px;
  min-width: 175px;
}

.x0-2-login-1-cedula-codigo .button-primary {
  align-items: flex-start;
  background-color: var(--blue-2);
  border-radius: 9.72px;
  display: flex;
  height: 38px;
  overflow: hidden;
  padding: 8.2px 61px;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
}

.x0-2-login-1-cedula-codigo .field-3 {
  border-radius: 9.72px;
  display: flex;
  height: 39px;
  overflow: hidden;
  width: 39px;
}
