/* screen - 3-1-2-riesgo-criatura-infante */

.x3-1-2-riesgo-criatura-infante {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x3-1-2-riesgo-criatura-infante .overlap-group {
  height: 1025px;
  margin-left: -167px;
  margin-top: -235.0px;
  position: relative;
  width: 968px;
}

.x3-1-2-riesgo-criatura-infante .ellipse-181 {
  height: 538px;
  left: 17px;
  position: absolute;
  top: 163px;
  width: 354px;
}

.x3-1-2-riesgo-criatura-infante .ellipse-178 {
  height: 970px;
  left: 0;
  position: absolute;
  top: 0;
  width: 968px;
}

.x3-1-2-riesgo-criatura-infante .ellipse-179 {
  height: 566px;
  left: 38px;
  position: absolute;
  top: 459px;
  width: 398px;
}

.x3-1-2-riesgo-criatura-infante .ellipse-180 {
  height: 485px;
  left: 268px;
  position: absolute;
  top: 459px;
  width: 568px;
}

.x3-1-2-riesgo-criatura-infante .button-primary {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9.72px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  left: 286px;
  overflow: hidden;
  padding: 6px 22.5px;
  position: absolute;
  top: 788px;
  width: 107px;
}

.x3-1-2-riesgo-criatura-infante .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  white-space: nowrap;
}

.x3-1-2-riesgo-criatura-infante .tiene-que-notificar {
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 391px;
  width: 258px;
}

.x3-1-2-riesgo-criatura-infante .group-68 {
  border-radius: 9.33px;
  top: 487px;
}

.x3-1-2-riesgo-criatura-infante .list-item {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 9.33px;
  display: flex;
  gap: 15px;
  height: 52px;
  min-width: 106px;
  padding: 0 14.8px;
}

.x3-1-2-riesgo-criatura-infante .title {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.85px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 39px;
}

.x3-1-2-riesgo-criatura-infante .checkbox {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 5.55px;
  display: flex;
  height: 22px;
  min-width: 22px;
  padding: 5.5px 5.5px;
}

.x3-1-2-riesgo-criatura-infante .check {
  height: 11px;
  width: 11px;
}

.x3-1-2-riesgo-criatura-infante .list-item-1 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 9.33px;
  margin-bottom: 0;
  min-width: 121px;
}

.x3-1-2-riesgo-criatura-infante .title-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.85px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 55px;
}

.x3-1-2-riesgo-criatura-infante .checkbox-1 {
  border-radius: 5.55px;
  height: 22px;
  width: 22px;
}

.x3-1-2-riesgo-criatura-infante .group-69 {
  border-radius: 11.09px;
  top: 632px;
}

.x3-1-2-riesgo-criatura-infante .list-item-2 {
  background-color: var(--mystic);
  border-radius: 11.09px;
  min-width: 106px;
}

.x3-1-2-riesgo-criatura-infante .list-item-3 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 11.09px;
  margin-bottom: 0;
  min-width: 121px;
}

.x3-1-2-riesgo-criatura-infante .tiene-que-crear-una {
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 581px;
  white-space: nowrap;
  width: 258px;
}

.x3-1-2-riesgo-criatura-infante .progress-bar {
  align-items: flex-start;
  background-color: var(--mystic-2);
  border-radius: 4px;
  display: flex;
  height: 7px;
  left: 218px;
  overflow: hidden;
  position: absolute;
  top: 553px;
  transform: rotate(-1.57deg);
  width: 549px;
}

.x3-1-2-riesgo-criatura-infante .rectangle-1 {
  background-color: var(--blue-ribbon);
  border-radius: 8px;
  height: 7px;
  margin-left: -1px;
  width: 412px;
}

.x3-1-2-riesgo-criatura-infante .evaluacin-de-riesgo {
  left: 344px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 258px;
  width: 182px;
}

.x3-1-2-riesgo-criatura-infante .rectangle-172 {
  background-color: var(--white);
  border-radius: 29px;
  box-shadow: 0px 4px 4px #00000040;
  height: 87px;
  left: 189px;
  position: absolute;
  top: 202px;
  width: 96px;
}

.x3-1-2-riesgo-criatura-infante .men {
  left: 191px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: 89px;
}

.x3-1-2-riesgo-criatura-infante .group {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 12px;
  height: 52px;
  left: 220px;
  min-width: 238px;
  position: absolute;
}

.x3-1-2-riesgo-criatura-infante .list-item-4 {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 52px;
  padding: 0 14.8px;
}
