/* screen - 6-1-menu-datos-totales */

.x6-1-menu-datos-totales {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x6-1-menu-datos-totales .overlap-group3 {
  height: 1103px;
  margin-left: -339px;
  margin-top: -116px;
  position: relative;
  width: 1116px;
}

.x6-1-menu-datos-totales .ellipse-178 {
  height: 910px;
  left: 197px;
  position: absolute;
  top: 191px;
  width: 919px;
}

.x6-1-menu-datos-totales .ellipse-179 {
  height: 535px;
  left: 361px;
  position: absolute;
  top: 99px;
  width: 557px;
}

.x6-1-menu-datos-totales .ellipse-180 {
  height: 848px;
  left: 0;
  position: absolute;
  top: 0;
  width: 815px;
}

.x6-1-menu-datos-totales .ellipse-181 {
  height: 605px;
  left: 320px;
  position: absolute;
  top: 498px;
  width: 638px;
}

.x6-1-menu-datos-totales .button-primary {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9.72px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  left: 497px;
  overflow: hidden;
  padding: 1.5px 12px;
  position: absolute;
  top: 646px;
  width: 45px;
}

.x6-1-menu-datos-totales .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
}

.x6-1-menu-datos-totales .seleccione-el-total {
  left: 407px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 266px;
  width: 224px;
}

.x6-1-menu-datos-totales .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9.3px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 47px;
  left: 425px;
  min-width: 189px;
  padding: 8.8px 8.6px;
  position: absolute;
  top: 365px;
}

.x6-1-menu-datos-totales .seguimiento {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  text-align: center;
  width: 171px;
}

.x6-1-menu-datos-totales .overlap-group1 {
  height: 47px;
  left: 422px;
  position: absolute;
  top: 430px;
  width: 194px;
}

.x6-1-menu-datos-totales .rectangle-115 {
  border-radius: 9.3px;
  height: 47px;
  left: 2px;
  top: 0;
  width: 189px;
}

.x6-1-menu-datos-totales .evaluacin-de-riesgo {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 194px;
}

.x6-1-menu-datos-totales .overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9.3px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 47px;
  left: 425px;
  min-width: 189px;
  padding: 9.2px 32.6px;
  position: absolute;
  top: 493px;
}

.x6-1-menu-datos-totales .canalizacin {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  text-align: center;
  width: 123px;
}

.x6-1-menu-datos-totales .rectangle-172 {
  border-radius: 29px;
  height: 87px;
  left: 361px;
  top: 83px;
  width: 96px;
}

.x6-1-menu-datos-totales .men {
  left: 363px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 131px;
  white-space: nowrap;
  width: 89px;
}

.x6-1-menu-datos-totales .ver-datos {
  left: 538px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 182px;
}

.x6-1-menu-datos-totales .rectangle {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
}
