/* screen - 6-3-2-datos-beneficiarios-discapacitados */

.x6-3-2-datos-beneficiarios-discapacitados {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.71px none;
  display: flex;
  height: 659px;
  overflow: hidden;
  width: 370.87px;
}

.x6-3-2-datos-beneficiarios-discapacitados .overlap-group {
  height: 698px;
  margin-left: -3px;
  margin-top: -33px;
  position: relative;
  width: 381px;
}

.x6-3-2-datos-beneficiarios-discapacitados .fondo {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(187, 238.68, 255, 0.46) 100%);
  height: 671px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 381px;
}

.x6-3-2-datos-beneficiarios-discapacitados .de-100-beneficiarios {
  color: var(--black);
  font-family: var(--font-family-calibri-bold);
  font-size: 21.1px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 128px;
  width: 309px;
}

.x6-3-2-datos-beneficiarios-discapacitados .es-decir {
  color: var(--black);
  font-family: var(--font-family-calibri-bold);
  font-size: 20.8px;
  font-weight: 700;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 378px;
  width: 253px;
}

.x6-3-2-datos-beneficiarios-discapacitados .estn-en-condicin-de-discapacidad {
  color: var(--black);
  font-family: var(--font-family-calibri-bold);
  font-size: 21.7px;
  font-weight: 700;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 606px;
  width: 264px;
}

.x6-3-2-datos-beneficiarios-discapacitados .ellipse-127 {
  height: 216px;
  left: 82px;
  position: absolute;
  top: 175px;
  width: 217px;
}

.x6-3-2-datos-beneficiarios-discapacitados .percent {
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 241px;
  white-space: nowrap;
  width: 147px;
}

.x6-3-2-datos-beneficiarios-discapacitados .ellipse-127-1 {
  height: 232px;
  left: 74px;
  position: absolute;
  top: 402px;
  width: 233px;
}

.x6-3-2-datos-beneficiarios-discapacitados .number {
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 468px;
  white-space: nowrap;
  width: 147px;
}

.x6-3-2-datos-beneficiarios-discapacitados .personas {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 17.2px;
  font-weight: 700;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 536px;
  width: 147px;
}

.x6-3-2-datos-beneficiarios-discapacitados .button-primary {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 9.72px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  left: 320px;
  overflow: hidden;
  padding: 1.5px 4px;
  position: absolute;
  top: 53px;
  width: 29px;
}

.x6-3-2-datos-beneficiarios-discapacitados .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
}

.x6-3-2-datos-beneficiarios-discapacitados .rectangle-172 {
  background-color: var(--white);
  border-radius: 29px;
  box-shadow: 0px 4px 4px #00000040;
  height: 87px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 96px;
}

.x6-3-2-datos-beneficiarios-discapacitados .men {
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 48px;
  white-space: nowrap;
  width: 89px;
}
