/* screen - fondo-estatico-3-registro */

.fondo-estatico-3-registro {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.fondo-estatico-3-registro .ellipse-container {
  height: 1452px;
  margin-left: -306px;
  margin-top: -242px;
  position: relative;
  width: 1121px;
}

.fondo-estatico-3-registro .ellipse-184 {
  height: 566px;
  left: 338px;
  position: absolute;
  top: 195px;
  width: 398px;
}

.fondo-estatico-3-registro .ellipse-182 {
  height: 538px;
  left: 173px;
  position: absolute;
  top: 403px;
  width: 354px;
}

.fondo-estatico-3-registro .ellipse-183 {
  height: 970px;
  left: 153px;
  position: absolute;
  top: 482px;
  width: 968px;
}

.fondo-estatico-3-registro .ellipse-185 {
  height: 485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 568px;
}
