/* screen - x4u463u463-u45-tramite-telefono2 */

.x4u463u463-u45-tramite-telefono2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x4u463u463-u45-tramite-telefono2 .overlap-group {
  height: 1526px;
  margin-left: -277px;
  margin-top: -595.0px;
  position: relative;
  width: 1025px;
}

.x4u463u463-u45-tramite-telefono2 .ellipse-178 {
  height: 970px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 970px;
}

.x4u463u463-u45-tramite-telefono2 .ellipse-179 {
  height: 763px;
  left: 0;
  position: absolute;
  top: 562px;
  width: 741px;
}

.x4u463u463-u45-tramite-telefono2 .ellipse-180 {
  height: 485px;
  left: 127px;
  position: absolute;
  top: 1041px;
  width: 568px;
}

.x4u463u463-u45-tramite-telefono2 .ellipse-181 {
  height: 631px;
  left: 446px;
  position: absolute;
  top: 665px;
  width: 534px;
}

.x4u463u463-u45-tramite-telefono2 .button-primary {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9.72px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  left: 411px;
  overflow: hidden;
  padding: 6px 22.5px;
  position: absolute;
  top: 1085px;
  width: 107px;
}

.x4u463u463-u45-tramite-telefono2 .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  white-space: nowrap;
}

.x4u463u463-u45-tramite-telefono2 .field {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10.86px;
  display: flex;
  gap: 1px;
  height: 43px;
  left: 522px;
  overflow: hidden;
  padding: 11.3px 14.5px;
  position: absolute;
  top: 862px;
  width: 66px;
}

.x4u463u463-u45-tramite-telefono2 .text {
  height: 19px;
  letter-spacing: 0;
  line-height: 20px;
  min-width: 16px;
  text-align: center;
  white-space: nowrap;
}

.x4u463u463-u45-tramite-telefono2 .cursor {
  align-self: center;
  height: 14px;
  width: 1px;
}

.x4u463u463-u45-tramite-telefono2 .field-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10.86px;
  display: flex;
  gap: 1px;
  height: 43px;
  left: 522px;
  overflow: hidden;
  padding: 11.3px 14.5px;
  position: absolute;
  top: 955px;
  width: 66px;
}

.x4u463u463-u45-tramite-telefono2 .text-1 {
  height: 19px;
  letter-spacing: 0;
  line-height: 20px;
  min-width: 9px;
  text-align: center;
  white-space: nowrap;
}

.x4u463u463-u45-tramite-telefono2 .cursor-1 {
  align-self: center;
  height: 14px;
  margin-top: 0;
  width: 1px;
}

.x4u463u463-u45-tramite-telefono2 .canalizacin {
  left: 434px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 616px;
  width: 182px;
}

.x4u463u463-u45-tramite-telefono2 .rectangle-172 {
  border-radius: 29px;
  box-shadow: 0px 4px 4px #00000040;
  height: 87px;
  left: 299px;
  top: 562px;
  width: 96px;
}

.x4u463u463-u45-tramite-telefono2 .men {
  left: 301px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 610px;
  white-space: nowrap;
  width: 89px;
}

.x4u463u463-u45-tramite-telefono2 .rectangle {
  background-color: var(--white);
  position: absolute;
}
